.button-list {
	display: flex;
	flex-direction: column;
}

.connection-button {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 1.5rem;
	border: transparent;
	background: none;
	transition: background-color 200ms ease-out;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.connection-button:hover {
	background-color: rgba(255,255,255,0.1);
}

.connection-icon {
	width: 3rem;
	height: 3rem;
}


@media screen and (max-width: 700px) {
	.connection-icon {
		width: 1.5rem;
		height: 1.5rem;
	}
	
.connection-button {
	gap: 0.5rem;
	font-size: 1rem;
	padding: 0.5rem;
}
}