.transaction-modal {
	max-width: 29.75rem;
}

.payment-details {
	display: flex;
	gap: 1rem;
	height: fit-content;
	align-items: center;
}

.qr {
	border-radius: 0.5rem;
	width: 10.5rem;
	height: 10.5rem;
	padding: 0;
}

.payment-values {
	display: flex;
	flex-direction: column;
	width: 25rem;
	gap: 1rem;
	flex: 1;
}

.number-value-container {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 0.5rem;
	row-gap: 0.25rem;
	font-weight: 700;
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	border-radius: 0.5rem;
	background-color: rgba(0,0,0,0.2);
}

.number-value-label {
	grid-column: 1 / 3;
	text-transform: uppercase;
	color: #bbb;
	font-size: 0.875rem;
	font-weight: 700;
}

.number-value-value {
	font-size: 1.125rem;
	min-width: 0;
	width: auto;
	outline: none !important;
	background-color: transparent;
}

.number-value-copy {
	padding-block: 0.375rem;
	padding-inline: 0.75rem;
	background-color: rgba(255,255,255,0.1);
	font-size: 0.875rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: filter 200ms ease-out;
}

.number-value-copy:hover {
	filter: brightness(90%);
}

.hint-text {
	font-weight: 400;
	font-size: 1rem;
}

.bold {
	font-weight: 700;
}

@media (max-width: 700px) {
	.transaction-modal {
		gap: 0.75rem;
	}
	.payment-details {
		gap: 0.75rem;
	}
	.payment-values {
		gap: 0.75rem;
	}
	.number-value-label {
		font-size: 0.75rem;
		white-space: nowrap;
	}
	.number-value-value {
		font-size:1rem;
	}

	.number-value-copy {
		font-size: 0.75rem;
		padding-block: 0.25rem;
	}
	.hint-text {
		font-size: 0.85rem;
	}
}

@media (max-width: 500px) {
	.payment-details {
		flex-direction: column;
		align-items: center;
	}
	.payment-values {
		width: auto;
		align-self: stretch;
	}
}
