@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'RFDewi-bold';
  src: url('/fonts/RFDewiExtended-Bold.woff') format('woff'),
       url('/fonts/RFDewiExtended-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'RFDewi-Semibold';
  src: url('/fonts/RFDewiExtended-Semibold.woff') format('woff'),
       url('/fonts/RFDewiExtended-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'RFDewi-Regular';
  src: url('/fonts/RFDewiExtended-Regular.woff') format('woff'),
       url('/fonts/RFDewiExtended-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'RFDewi-Light';
  src: url('/fonts/RFDewiExtended-Light.woff') format('woff'),
       url('/fonts/RFDewiExtended-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

code {
  margin: 0px;
}
.font-Inter {
  font-family: "Lato", sans-serif;
}

.truncate {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis when text is too long */
}
.testimonial-swiper .swiper-button-next,
.testimonial-swiper .swiper-button-prev {
  color: black;
  opacity: 0.7;
  font-size: 1.5rem;
}

.testimonial-swiper .swiper-button-next:hover,
.testimonial-swiper .swiper-button-prev:hover {
  opacity: 1;

}
.heroBG {
  background-image: url("/desktop-assets/hero/hero-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh);
}
.heroBGmob {
  background-image: url("/mobile-assets/hero/hero-bg.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgavd {
  background-image: url("/mobile-assets/Advocated/avd-bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.organizationsBG {
  background-image: url("/desktop-assets/organization/organizations-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.journeyOfLeadingBG {
  background-image: url("/desktop-assets/journey/journey-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.whoWeServeBG {
  background-image: url("/desktop-assets/WhoWeServe/who-we-serve-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.EndToEndSolutionsBG {
  background-image: url("/desktop-assets/EndToEndSolutions/end-to-end-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1395px;
}
.EndToEndSolutionsBGmob {
  background-image: url("/desktop-assets/EndToEndSolutions/end-to-end-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.WaterCycleRestorationBG {
  background-image: url("/desktop-assets/WaterCycleRestoration/WaterCycleRestoration-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}
.WaterCycleRestorationBGmob {
  background-image: url("/desktop-assets/WaterCycleRestoration/WaterCycleRestoration-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.EducationCoursesBG {
  background-image: url("/desktop-assets/EducationCourses/EducationCourses-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.WaterSolutionsBG {
  background-image: url("/desktop-assets/WaterSolutions/WaterSolutions-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.AdvocacyOfPaulMannBG {
  background-image: url("/desktop-assets/AdvocacyOfPaulMann/AdvocacyOfPaulMann-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.aboutFounderSectionBG {
  position: relative;
  background: url("/desktop-assets/About/founder-bg-s.webp") no-repeat center
    center;
  background-size: cover;
  height: calc(100vh - 50px);
  min-height: 676px;
}
.swiper-button-prev-glimpse.swiper-button-disabled,
.swiper-button-next-glimpse.swiper-button-disabled {
  opacity: 0.35 !important;
  cursor: auto !important;
  pointer-events: none !important;
}
.swiper-button-prev-Coverage.swiper-button-disabled,
.swiper-button-next-Coverage.swiper-button-disabled {
  opacity: 0.35 !important;
  cursor: auto !important;
  pointer-events: none !important;
}
