@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "K2D", serif !important;
}

code {
  font-family: "K2D", serif !important;

}
.font-HiJack{
  font-family: 'Hi Jack', sans-serif;                                           
}
.font-Lato{
  font-family: 'Lato', sans-serif;                                           
}
.font-Inter{
  font-family: 'Lato', sans-serif;                                           
}

.heroBG {
  background-image: url('/desktop-assets/hero/hero-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 50px);
}

.organizationsBG {
  background-image: url('/desktop-assets/organization/organizations-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.journeyOfLeadingBG {
  background-image: url('/desktop-assets/journey/journey-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

