@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "K2D", serif !important;
}

code {
  font-family: "K2D", serif !important;

}
.font-HiJack{
  font-family: 'Hi Jack', sans-serif;                                           
}
.font-Lato{
  font-family: 'Lato', sans-serif;                                           
}
.font-Inter{
  font-family: 'Lato', sans-serif;                                           
}

.heroBG {
  background-image: url('/desktop-assets/hero/hero-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh );
}

.organizationsBG {
  background-image: url('/desktop-assets/organization/organizations-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.journeyOfLeadingBG {
  background-image: url('/desktop-assets/journey/journey-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.whoWeServeBG {
  background-image: url('/desktop-assets/WhoWeServe/who-we-serve-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.EndToEndSolutionsBG {
  background-image: url('/desktop-assets/EndToEndSolutions/end-to-end-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1395px;
}

.WaterCycleRestorationBG {
  background-image: url('/desktop-assets/WaterCycleRestoration/WaterCycleRestoration-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.EducationCoursesBG {
  background-image: url('/desktop-assets/EducationCourses/EducationCourses-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.WaterSolutionsBG {
  background-image: url('/desktop-assets/WaterSolutions/WaterSolutions-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.AdvocacyOfPaulMannBG {
  background-image: url('/desktop-assets/AdvocacyOfPaulMann/AdvocacyOfPaulMann-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}